.login-screen-splitScreen {
  display: flex;
  flex-direction: row;
  background: #fff;
}
.login-screen__left {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overview__right {
  width: 50%;

  text-align: center;
  margin: auto;
  background: white;
}

.login-screen__form {
  width: 380px;
  padding: 1.5rem;
  background: #fff;
}

.login-screen__title {
  text-align: center;
  margin-bottom: 1rem;
}

.login-screen__forgotpassword {
  font-size: 0.7rem;
  float: right;
}

.login-screen__subtext {
  font-size: 0.7rem;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin: 0.5rem 0;
}

.submit-btn {
  /* Frame 10 */

  /* Auto Layout */
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 18px 95px;

  /* Accent / Green */
  background: linear-gradient(90deg, #37bcae 0%, #38cd98 100%);
  box-shadow: 0px 14px 25px rgba(55, 188, 174, 0.3);
  border-radius: 60px;
  border-color: white;
  border-style: solid;

  width: 38px;
  height: 21px;
  left: 95px;
  top: 18px;

  /* Poppins medium 13 */
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 160%;
  /* 3 */
  color: #ffffff;
}

.input-field {
  background-color: white;
  border-radius: 100px;
  padding: 20px;
  height: 54px;
  width: 360px;
  height: 54px;
}

.overview__right img {
  display: block;
  margin: 0 auto;
}

.overview__title {
  display: block;
  color: rgba(88, 89, 91, 1);
  font-weight: 300;
  font-size: 26px;
  font: Poppins;
}

.overview__right p {
  color: rgba(88, 89, 91, 1);

  //styleName: Poppins regular 13;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}
